body{
    font-family:Impact; 
    background-color: #EADEDB;  
    color: #C0AB8E; 
}
h1{
    color:#AD5D5D;
}
.piano {
    max-width:32em;
    margin: 20px auto;
}
.piano-item{
    /* border-bottom:3px solid #B4B7BA; */
    border-top:3px solid #B4B7BA;
}
.piano-title{
    display: block;
    cursor: pointer;
    padding: 1em 1em;
    position: relative;
}
.piano-input{
    appearance: none;
    position: absolute;
}
.piano-input:checked ~.piano-block > .piano-img{
    transition: 1s;
    max-height: 100em;
}
.piano-input:checked ~ .piano-title{
    color:#AD5D5D;
}
.piano-img{
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s;
    max-height: 0;
    padding: 0;
}
img{
    display: block;
    margin: 0 auto;
    max-width: 11em;
    max-height: 11em;
    padding: 1em;
}
.piano-item:active{
    opacity: 0.5;
}
.plus {
  font-size: 2.25em;
  font-weight: bold;
  position: absolute;
  right: 0.9em;
  bottom: 0.2em;
  display: none;
}
.piano-input:checked ~ .piano-title > .plus {
  transform:rotate(45deg);
}

@media(max-width: 1080px){
    body{
        font-size: 24px;    
    }
}
@media(max-width: 820px){
    body{
        font-size: 16px;
    }
}
@media(max-width: 320px){
    body{
        font-size: 12px;
    }
}
@media(hover:hover)
{
    .piano:hover{
    color:#AD5D5D;
    }
    .piano-item:hover >.piano-block > .piano-img{   
    transition: 1s;
    max-height: 100em;
    }
    .piano-title:hover{
        background-color: #B4B7BA;
        transition: background .2s;
    }
    .piano-item:hover > .piano-title > .plus {
        transform:rotate(45deg);
    }
      .piano:hover > .piano-item > .piano-title > .plus{
        display: block;
    }
}